{% extends '../templates/base.html' %}

{% block css %}

<link rel="stylesheet" href="/css/welcome_back.css">
<link rel="stylesheet" href="/css/billing.css">

{% end %}

{% block header %}


    <div id="buy-header" style="height: auto; ">
        <div class="ui stackable grid" style="margin-left: 10px;width: 100%;">    
        <div class="row">        
        <div class="three wide tablet two wide computer column"> 
            <a id="header-logo" href="/" style="margin-left: 25px;">FERRY</a> 
        </div>
        {% if user %}
            <div class="two wide tablet two wide computer column">
                <a class="header-link" href="/orders">ORDERS</a>
            </div>

            <div class="four wide tablet six wide computer column">
                <a class="header-link" href="/travel">TRAVEL</a>
            </div>
            <div class="three wide tablet two wide computer column">
                <a id="name" class="header-link" href="/profile?page=account"> Hi,{{ user_entry['first_name'] }} </a>
            </div>
            <div class="one wide tablet one wide computer column">
                <a class="header-link" href="/logout"> LOGOUT </a>
            </div>                                
        {% else %}
            <div class="two wide tablet two wide computer column">
                <a class="header-link" href="/orders">ORDERS</a>
            </div>        
            <div class="four wide tablet five wide computer column">
                <a class="header-link" href="/travel">TRAVEL</a>
            </div>
            <div class="two wide tablet two wide computer column">
                <a id="name" class="header-link" href="/login"> LOGIN</a>
            </div>
            <div class="two wide tablet two wide computer column">
                <a class="header-link" href="/signup"> SIGN UP </a>
            </div>                         
        {% end %}
            <div class="four wide tablet three wide computer column">
                <button id="header-cart" style="border-radius: 25px;width: 130px; height: 50px; position: absolute; bottom: -5px;"><span style="position: absolute; bottom: 10px;"> CART</span> </button>
            </div>               
        </div>
        <div id="header-divider"></div>                
        </div>    
    </div>

{% end %}






{% block main %}

<div id="myProgress">
    <div id="myBar" style="width:66%;"></div>
</div>

<div id="message">
{{ msg }}
</div>

<form action="/checkout" method="post">
    <div class="ui stackable grid">
        <div class="row">
            <div class="fifteen wide column form-field" id="almost-there" style="line-height: 1.1em;">
                We're excited to connect you!
            </div>

            <div class="ten wide column form-field" id="enter-email-address" style="margin-left:15%; line-height: 1.1em;">
                Please input your billing information so we can get your package to you as soon as possible.
            </div>                

        </div>    
        <div class="row">
            <div class="four wide tablet five wide computer column form-field" id="credit-card-number" style="margin-left:15%;">
                <input type="text" name="credit_card_number" placeholder="CREDIT CARD #" required />
            </div>
            <div class="three wide tablet two wide computer column form-field" id="cvc">
                <input type="text" name="cvc" placeholder="CVC" required />            
            </div>
            <div class="four wide tablet three wide computer column" id="expiration_date">
                <input type="date" name="expiration-date" placeholder="EXPIRATION DATE" required />            
            </div>            
<!--             
            </div>            
            <div class="three wide column" id="expiration_date">
                <input type="date" name="expiration-date" placeholder="EXPIRATION DATE" required />            
            </div>   -->          
        </div>
        <div class="row">
            <div class="eleven wide tablet ten wide computer column" style="margin-left: 17%;">
                <input type="submit" value="CONTINUE" style="background-color: #2e315b; color: white;" />
            </div>
        </div>
        <div class="row" style="height: 100px;"></div>

    </div>
</form>            
{% end %}













