{% extends '../templates/accounts_base.html' %}


{% block maincontent %}

<div class="page-header text">
<i> Invite </i>
</div>
<div class="text content">

Today, Ferry doesn't accept returns given
the complicated nature of our product shipping. That being said,
 we'll evaluate any issues you have with your traveller or product to make sure you're having the best possible experience.
</div>

<div class="header-divider" id="order-divider"></div>

<script>
	$("#invite-link").css('borderBottom', '1.5px solid #2E315B')
</script>

{% end %}

