.Shop {  
    font-family: "Roboto Mono";
    min-height: 650px;    
}

.shop {
    font-size: 30px;
    color: #961f47;
    font-family: 'Roboto Mono';
    font-weight: 500;
}

.question { 
    font-size: 20px;
}

#selectCountry {
    width: 350px;
}

.next {
    background:#961f47;
    border:2px solid #961f47;
    border-radius:5px;
    width:131px;
    height:40px;
    color: white;
    cursor: pointer;
}

.next:hover {
 background: #964f47;
 border: 2px solid #964f47;
 color: beige;
}

#selectCountry {
    border: 2px solid #961f47;
}