.AccountSidebar {
    display: inline-block;
    margin-right: 80px;
    position: absolute;
    top: 120px;
}

@media (max-width: 600px) {
  .AccountSidebar {
    top: 215px;
  }
}

.profile-sidebar-link {
    border-bottom: 1px solid black;
}

a:hover {
    text-decoration: none;
    border-bottom: 1px solid black;
}