

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.who-are-you {
  text-align: center;
  margin-top: 100px;
}

body {
  background-color: white;
}