
input, .Link, .btn, h4, h5, body {
  font-family: 'Avenir Next';
}

@media (min-width: 300px) {
  .main {
    margin-left: 40px;
    margin-right: 40px;  
  }
}

@media (min-width: 500px) {
  .main {
    margin-left: 80px;
    margin-right: 80px;  
  }
}

@media (min-width: 900px) {
  .main {
    margin-left: 100px;
    margin-right: 100px;  
  }
}

@media (min-width: 1000px) {
  .main {
    margin-left: 70px;
    margin-right: 40px;  
  }
}
