

@media (min-width: 300px) {
	.BigText {
		font-family: 'Roboto Mono';
		font-weight: 600;
		character-spacing: 0.04em;
		font-size: 30px;
		color: #961f47;
	}	
}

@media (min-width: 500px){
	.BigText {
		font-family: 'Roboto Mono';
		font-weight: 600;
		character-spacing: 0.04em;
		font-size: 28px;
		color: #961f47;
	}	
}


@media (min-width: 1000px){
	.BigText {
		font-family: 'Roboto Mono';
		font-weight: 600;
		character-spacing: 0.04em;
		font-size: 40px;
		color: #961f47;
	}	
}
