.BecomeTraveller {
    text-align: center;
}

.progress-bar {
    background-color: #961f47;
}

.travelForm{
    text-align: left;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.member-next {
    margin-left: 2%;
    background-color: #961f47;
    color: white;
    cursor: pointer;
}

.member-back {
    background-color: #961f47;
    color: white;
    cursor: pointer;
}

.member-back:hover{
   background-color: #961f47;
}


.member-next:hover{
   background-color: #961f47;
}

.display-none {
    display: none;
    visibility: hidden;
}

.ShippingInformation {
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}

.MemberOfUSA {
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}

.FinishLine{
    text-align: center;
    width: 500px;
    margin-left: auto;
    ymargin-right: auto;
    height: 300px;
}

.AuthorizeBankAccount {
    height: 300px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.UserSignupt {
    height: 300px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#country {
    border: 2px solid #961f47;
}

.user-signup {
    text-align: center;
}

.plaid-link {
    font-family: 'Avenir Next';
    border: 1px solid #2e315b;
    background-color: #2e315b;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-radius: 4px;
}

.plaid-link:hover{
    color: black;
}
