.BecomeTraveller {
    text-align: center;
}

.travelForm{
    text-align: left;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.member-next {
    margin-left: 2%;
}

.display-none {
    display: none;
    visibility: hidden;
}

.ShippingInformation {
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}

.MemberOfUSA {
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}

.FinishLine{
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}

.AuthorizeBankAccount {
    height: 300px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}