.Footer {
    height: 70px;
    padding-left: 6%;
    padding-right: 6%;
    font-family: 'Avenir Next';
    color: white;
}

.footer-card {
    border: none;
    background: transparent;
    color: white;
    padding: none;
}

.footer-link {
    color: black;
    font-family: "Roboto Mono";
}

.footer-word {
    margin-left: 5px;
    margin-right: 5px;
}
