@media (min-width: 500px) {

	.LogoLink {
		display: inline-block;
		width: 150px;
		font-size: 16px;
		font-family: 'Avenir Next';
	}

}

@media (min-width: 200px) {

	.LogoLink {
		display: inline-block;
		margin-bottom: 70px;
		font-size: 16px;
		font-family: 'Avenir Next';
		margin-right:160px;
	}

}

.LogoImage {
	width: 150px;
}

.label {
	display: inline-block;
	font-size: 28px;
	font-weight: 500;
}